<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Pagina Principal</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/style_home_page.css">
</head>
<body>
	<div class="center">
        <div class="btn-group-vertical">
            <a href="/stats" role="button" class="btn btn-primary">Estatistica</a><br><br><br><br>
            <a href="/less" role="button" class="btn btn-primary">Gasto      </a><br><br><br><br>
            <a href="/more" role="button" class="btn btn-primary">Ganho      </a><br><br><br><br>
          </div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
